
<html>
<head>
	<title></title>
	<script type="text/javascript" src="scripts/angular.min.js"> </script>
	

</head>
<body>

<div ng-app="myApp" ng-controller="customersCtrl"> 
smflksdfklsdf
sflmlk
<ul>

  <li data-ng-repeat="name in names">
  	{{ name.type  }}
  	
  </li>

</ul>

</div>

<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $http) {

    $http.get("http://127.0.0.1:5000/list")
    .success(function(data,status) {$scope.names = data;
    	
    })

    .error(function(err){
    	$scope.errors = err;
    });
});
</script>

</body>
</html>